<div>
    <v-data-table
      :headers="headers"
      :items="users"
      item-key="name"
      class="elevation-1"
      :search="search"
    >
    <template v-slot:item.controls="props">
        <v-btn class="mx-2"  color="pink" @click="onClickDelete(props.item)" >
         Delete
        </v-btn>
      </template>
    
      <template v-slot:top>
        <v-text-field
          v-model="search"
          label="Search"
          class="mx-4"
        ></v-text-field>
      </template>    
    </v-data-table>
    
  </div>